{% extends "base.html" %}

{% block content %}
<div class="page-header header-filter" style="background-image: url({{url_for('static', filename='bg3.jpg') }}); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 ml-auto mr-auto">
            <div class="card card-login">
              <form class="form" method="" action="">
                <div class="card-header card-header-primary text-center">
                  <h4 class="card-title">Buy this product</h4>
                </div>
                <div class="card-body">

                    <div class="input-group">
                        <h3 class="card-subtitle mb-2 text-muted">Item: {{item}} &nbsp&nbsp</h3>
              
                        <h3 class="card-subtitle mb-2 text-muted">Quantity: 10 &nbsp&nbsp</h3>
                        <h3 class="card-subtitle mb-2 text-muted">Price: 100 &nbsp&nbsp</h3>
                    </div>

                    <div class="input-group">
                        <h4 class="card-subtitle mb-2 text-muted">Seller Address: 0xe106213eC2Fc640Bd534d85C27E67A9A24D22c37 </h4>
                    </div>

                    <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">vpn_key</i>
                              </span>
                            </div>
                            
                            <input name='privateKey' type="password" class="form-control" placeholder="Private Key...">
                    </div>
                </div>
                <div class="footer text-center">
                  <a href="" class="btn btn-success btn-lg">Buy</a>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}