<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Wallet Generator</title>
	<style>
		#addressQr{
			width: 173px;
			height: 175px;
			position: fixed;
			top: 102px;
			left: 159px;
		}

		#privKeyQr{
			width: 173px;
			height: 175px;
			position: fixed;
			top: 102px;
			left: 593px;
		}

		#bg{
			z-index: -1;
			position: fixed;
		}

		#address{
			position: absolute;
			top: 320px;
			left: 160px;
			width: 370px;
		}

		#privKey{
			position: absolute;
			top: 372px;
			left: 160px;
			width: 562px;
		}
	</style>
</head>
<body>
	<img src="./img/wallet.jpg" id="bg">
	<img src="./img/address.png" id="addressQr">
	<img src="./img/privKey.png" id="privKeyQr">

	<input type="text" id="address" value="">
	<input type="text" id="privKey" vale="">
</body>
</html>